.row__counter {
  font-weight: var(--ft__W__Medium);
  font-size: var(--ft__14px);
  &:not(:last-of-type) {
    padding-bottom: 20px;
  }
  .count__container {
    column-gap: 14px;

    & > button {
      width: 30px;
      height: 30px;
      border: 1px solid rgb(34, 34, 34);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(34, 34, 34);
      font-size: 20px;

      &:disabled {
        pointer-events: none;
        opacity: .4;
      }
    }
    & > span {
      width: 20px;
      text-align: center;
      font-size: 16px;
    }
  }


}