.head__section {
  column-gap: 40px;
  // flex-wrap: wrap-reverse;
  row-gap: 30px;
  h2.place__section__title {
    font-size: 32px;
    font-weight: var(--ft__W__SemiBold);
    margin-bottom: 20px;
    color: var(--color__orange);
  }

  p {
    font-size: var(--ft__18);
    font-weight: var(--ft__W__Medium);
    margin-bottom: 10px;
    &.price {
      margin: 0;
      span {
        color: var(--color__orange);
        font-weight: var(--ft__W__SemiBold);
        font-size: 20px;
      }
    }
  }
  .host__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}