@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}
ul,p,h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
html, body {
  font-family: 'Poppins', sans-serif;
}
a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}
:root {
  // colors :=
  --color__white: #FFF;
  --color__yellow: #F1A841;
  --color__purple: #7A4281;
  --color__orange: #EB4235;
  --color__header__bg: #13161d;

  // fonts-size :=
  --ft__14px: 14px;
  --ft__18: 18px;

  // fonts-weigth :=
  --ft__WExtraLight: 200;
  --ft__W__Light: 300;
  --ft__W__Regular: 400;
  --ft__W__Medium: 500;
  --ft__W__SemiBold: 600;
  --ft__W__Bold: 700;
  --ft__W__ExtraBold: 800;
  --ft__WExtraBolder: 900;
}

// Global Classes

.linear__bg {
  position: relative;
}
.linear__bg::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(90deg, var(--color__purple) 0%, var(--color__orange) 100%);
  z-index: -1;
}